body {
  font-family: 'Nunito', sans-serif; }

.container-fluid {
  padding-left: 50px;
  padding-right: 50px; }

.menu {
  padding: 10px;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  padding-bottom: 15px; }

.menu a {
  color: black;
  border-bottom: 4px solid white; }

.menu a .active {
  border-bottom: 4px solid orange; }

.menu a:hover {
  border-bottom: 4px solid orange; }

.navbar-nav .nav-link {
  padding-right: 0px !important;
  padding-left: 0px !important;
  padding-bottom: 0px !important;
  margin-right: 8px;
  margin-left: 8px; }

.video-background-holder {
  position: relative;
  background-color: black;
  height: calc(100vh - 300px);
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  border-bottom: 5px solid orange; }

.video-background-holder video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.social-media {
  font-size: 25px;
  display: inline-block; }

.social-media li a {
  color: gray; }

.img-responsive {
  width: 100%; }

.container-margin-top {
  margin-top: 200px; }

@media screen and (max-width: 750px) {
  .navbar-brand {
    width: 100px; }

  .container-margin-top {
    margin-top: 110px; } }
#main-img {
  display: none;
  width: 100%; }

#main-img-holder {
  display: none; }

.drones-video {
  width: 100%;
  display: block;
  margin: 0 auto; }

@media screen and (max-width: 992px) {
  .video-background-holder {
    display: none; }

  #main-img-holder {
    display: block;
    background-color: black; }

  #main-img {
    display: block; } }
.jumbotron {
  padding-top: 20px;
  padding-bottom: 20px; }

nav .fab {
  padding-top: 10px; }

.card {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  background-color: #88898a;
  border: none;
  color: white;
  border-bottom: 5px solid orange;
  margin-bottom: 20px;
  height: 554px; }

.card-about-us {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  background-color: #88898a;
  border: none;
  color: white;
  border-bottom: 5px solid orange;
  margin-bottom: 20px; }

.services-card-height {
  height: 558px; }

@media screen and (max-width: 1000px) {
  .services-card-height {
    height: auto; } }
.background-drone-img {
  background-image: url("../data/images/drone-1.jpg"); }

.card-icon {
  font-size: 70px; }

.card-body {
  padding-top: 50px; }

.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 10px solid orange;
  margin-top: 200px;
  background-color: #313336; }

.footer a, .footer p {
  color: white; }

.footer a:hover {
  color: orange; }

.footer h3, .footer h6 {
  color: orange;
  margin-bottom: 20px; }

.footer ul, .container ul {
  list-style-type: none; }

.footer ul li {
  color: white; }

.footer .info {
  text-align: center; }

.footer .col-sm-12 {
  text-align: center; }

.footer ul {
  padding-left: 0px; }

.container .col-sm-12 {
  padding-top: 50px; }

.fixed-top {
  background-color: #313336;
  border-bottom: 5px solid orange;
  transition: background-color 0.5s; }

.product-info-div {
  text-transform: uppercase;
  background-color: orange;
  padding-right: 0px;
  padding-bottom: 0px;
  margin-bottom: 30px;
  border-top: 10px solid #313336;
  height: 90px; }

.product-div-heading {
  height: 100px;
  position: absolute;
  right: 8px;
  top: 100px; }

.product-div-heading1 {
  height: 100px;
  position: absolute;
  right: 12px;
  top: 70px; }

.product-div-heading h2 {
  color: white;
  font-size: 45px;
  font-weight: 900;
  width: 500px;
  text-align: right; }

.product-div-heading1 h2 {
  color: white;
  font-size: 30px;
  font-weight: 900;
  width: 500px;
  text-align: right; }

.product-div-heading1 h5 {
  color: white;
  font-size: 25px;
  font-weight: 900;
  width: 500px;
  text-align: right; }

.container .row {
  margin-bottom: 100px; }

.modal-footer button {
  background-color: orange;
  border: 1px solid orange; }

#map-container-fluid {
  padding-right: 0px;
  padding-left: 0px; }

#map {
  width: 100%;
  height: 500px; }

.form-control {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid lightgray; }

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid orange; }

.pl-5, .px-5 {
  padding-left: 0px !important; }

.contact-hr {
  background-color: orange;
  width: 40%;
  margin-bottom: 50px; }

.heading {
  color: orange;
  text-align: center; }

.gallery-heading {
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  font-size: 40px; }

.product-heading {
  text-transform: uppercase;
  font-weight: 800;
  text-align: left;
  font-size: 40px; }

.gallery-hr {
  background-color: orange;
  margin-bottom: 50px; }

.services-list li {
  text-align: center; }

ul {
  padding-inline-start: 0px; }

.h1-heading {
  font-size: 30px; }

.main-color {
  color: orange; }

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative; }

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

/*# sourceMappingURL=style.css.map */
